body, html {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  color: white; }

#main_container {
  width: 100%;
  height: 100%;
  overflow: auto; }

#app_header {
  height: 70px;
  width: 100%;
  background-color: #141414;
  color: #1b8518;
  position: fixed;
  z-index: 2;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center; }

#app_body {
  width: calc(100% - (10px * 2));
  position: absolute;
  top: 70px;
  background-color: #393939;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.beer_card {
  background-color: #1b8518;
  color: white;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  font-size: 2em; }

.beer_card:active {
  background-color: #209f1d; }

.beer_body {
  display: none; }

.beer_body.active {
  display: block;
  margin-top: 10px;
  font-size: 0.8em;
  padding-right: 50px; }

.delete_button {
  position: absolute;
  color: black;
  right: 20px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-top: -37px; }

#beer_button_add {
  position: fixed;
  z-index: 2;
  bottom: 40px;
  right: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  display: block;
  text-align: center;
  vertical-align: middle;
  border: 2px solid white; }

#beer_button_add:active {
  background-color: #353535; }

#beer_image {
  margin-top: 10px; }

#title {
  margin: 10px;
  margin-left: 30px; }

#search {
  position: absolute;
  right: 100px;
  top: 10px; }

input[type=search] {
  border: 1px dotted #999;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7em;
  -webkit-appearance: none; }

input[type=text] {
  border: 1px dotted #999;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7em;
  -webkit-appearance: none; }

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.modal_body {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 300px; }

.add_beer_button {
  width: 100px;
  height: 30px;
  background-color: #1b8518;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  display: inline-block; }

.add_beer_button:active {
  background-color: #209f1d; }

.cancel_add_beer_button {
  width: 100px;
  height: 30px;
  background-color: #ff5965;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  display: inline-block; }

.cancel_add_beer_button:active {
  background-color: #ff7677; }

.hidden {
  display: none; }

/*# sourceMappingURL=impact.css.map */
