<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Impact Test App</title>
    <meta name="description" content="Beer list">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="css/impact.css">

    <script src="https://use.fontawesome.com/96a35e123e.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="init()">

<div id="main_container">
    <div id="app_header">
        <div id="title">
            Beer List
        </div>
        <div id="search">
            <!--<input type="search" id="search_input">-->
        </div>
    </div>

    <div id="app_body">
        <div class="beer_card"
             ng-repeat="beer in beers.data | orderBy: 'name'"
             ng-click="activeButton(beer.id)">

            <div class="beer_name">
                {{beer.name}}
            </div>
            <!--<div class="delete_button" ng-click="beer_remove(beer.id)">-->
                <!--<i class="fa fa-times-circle" aria-hidden="true"></i>-->
            <!--</div>-->
            <div class="beer_body" id="beer_{{beer.id}}">
                {{beer.description}}
            </div>
        </div>
    </div>
</div>

<div id="beer_button_add" ng-click="add_beer_modal_open()">
    <div id="beer_image">
        <img height="70px" src="graphics/beer_white.svg">
    </div>
</div>

<div class="modal hidden">
    <div class="modal_body">
        <input type="text" id="add_beer_name" ng-model="add_beer_name" placeholder="Name">
        <br><br>
        <input type="text" id="add_beer_description" ng-model="add_beer_description" placeholder="Description">
        <br><br>
        <div class="cancel_add_beer_button" ng-click="add_beer_modal_close()">
            Cancel
        </div>
        <div class="add_beer_button" ng-click="add_beer()">
            Add
        </div>
    </div>
</div>

<script src="js/app.js"></script>

</body>
</html>